/*Fonts*/
@import url("../fonts/fonts.css");

/*Components*/
@import url("header/header.css");
@import url("pages/main.css");
@import url("asides/main.css");
@import url("footer/main.css");



.content {
    margin-top: 90px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: rgba(5, 14, 37, 0.72);
}

