@import url("../fonts/fonts.css");
@import url("header.css");

.content {
    width: 60%;
    display: block;
    background: aqua;

    margin: 90px auto;
}

body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background: rgba(5, 14, 37, 0.72);
}



.headerimg {
    max-width: 100%;
}

