
#loginbutton img {
    width: 30px;
}
#loginbutton{
    padding-bottom: 50px;
}

.navbarbutton {
    height: 60px;
    margin-right: 40px;
    width: 200px;
    font-size: 40px;
    color: #DBFF00;
    border-radius: 10px;
    text-decoration: none;
    background-color: #afc3ff;
    border: solid 5px #DBFF00;
}

.navbarbutton:hover {
    background-color: #f2ffba;
    cursor: pointer;
    border-color: #406AFF;
    color: #406AFF;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.useravatar {
    width: 60px;
    height: 60px;
}

.username {
    color: #DBFF00;
    font-size: 36px;
    margin-left: 5px;
    margin-right: 10px;
}

.user {
    height: 60px;
    background-color: #406AFF;
    border: solid 5px #DBFF00;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.logout:hover{
    background: #ff4e4e;
    border-color: #340001;
    cursor: pointer;
}

.logout:hover .username{
    color: #340001;
}